html, body {
    background: black;
    padding: 0;
    margin:0 
}

#debug {
    color: white;
    font-size: 40px;

}

#header {
    color: yellow;
    font-size: 40px;
    width: 100%;
    font-family: 'Dancing Script';
    text-align: center
}

#images {
    width: 100%;
    text-align: center
}

#rollover {
    width: 60%
}
