html, body {
    background: black;
    padding: 0;
    margin:0 
}

#debug {
    color: white;
    font-size: 40px;

}

#header {
    color: yellow;
    font-size: 500%;
    width: 100%;
    font-family: 'Dancing Script';
    text-align: center
}

.termin {
    font-family: Helvetica;
    font-size: 200%;
    text-align: center;
    color: white;
}

.subtext {
    font-family: Helvetica;
    font-size: 150%;
    text-align: center;
    color: white; 
    margin-bottom: 1em;
}

#termine {
    margin-top: 1.5em;
    margin-bottom: 1.5em
}

#wo {
    font-family: Helvetica;
    font-size: 150%;
    text-align: center;
    color: yellow;
    margin-bottom: 1.5em
}

#images {
    width: 100%;
    text-align: center
}

#rollover {
    width: 60%;
    border-radius: 5%
}
